


body {
  background-color: grey;
}

h1 {
  color: grey;
  text-align: left;
}
h2 {
  color: grey;
}

h3 {
  color: grey;
  font-size: 2em;
  font-style: italic;
}

address {
	color: grey;
}



html {
  
   font-family:  Helvetica, Verdana, Geneva, sans-serif;
   
}


header {
	
  background: #f2f2f2;
  
}

.flex-container {
  display: flex;
  	font-family: Helvetica;
	font-size: 1.45em;
	text-align: center;
    color: #00001a;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
  
}

.item {
  flex: 1;
  margin: 0 5px;
}
.about {
	font-family: Helvetica;
	font-size: 1.45em;
	text-align: center;
    color: #00001a;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	
}


.flex-container {
  display: flex;
  justify-content: center; /* Horizontally centers the slideshow */
  align-items: center; /* Vertically centers the slideshow */
}



.slideshow-container {
  margin: 0 10px; /* Adjust the margin as needed */
}

.slideshow {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.slideshow img {
  display: none;
  width: 100%;
  height: auto;
}

.slideshow img.active {
  display: block;
}

.caption {
  margin-bottom: 10px;
  text-align: center;
  font-family: Papyrus;
}

.container {
  display: flex;
  align-items: center;
  	font-family: Helvetica;
	font-size: 1.45em;
	text-align: center;
    color: #00001a;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	
}

.image-container {
  margin-left: 10px; /* Adjust the margin as needed */
  
  
  
}

.image-container img {
  width: 410px; /* Adjust the width as needed */
  height: auto;
  margin-right: 20px; /* Adjust the margin as needed */
  padding: 3px 3px 3px 3px;
  
}

footer {
	text-align: center;
	color: grey;
	
}
